
$primary-color:#5cb85c; //Stoneacre Green //

$primary-color-hover:lighten($primary-color, 10%);

$secondary-color:#f0ad4e; //Orange//

$secondary-color-hover:lighten($secondary-color, 10%);

$tertiary-color:#4d4d4d; //Dark Grey/

$quaternary-color:#eeeeee; //Light Grey//
